# Lab | Inferential statistics - T-test & P-value

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### Instructions

1. *One tailed t-test* - In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
   Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [2]:
machine = pd.read_csv("files_for_lab/machine.txt", encoding = "utf-16", sep = "\t", names = ["New", "Old"], header=0)

In [3]:
machine

    New   Old
0  42.1  42.7
1  41.0  43.6
2  41.3  43.8
3  41.8  43.3
4  42.4  42.5
5  42.8  43.5
6  43.2  43.1
7  42.3  41.7
8  41.8  44.0
9  42.7  44.1

In [4]:
sample1 = machine.New
sample2 = machine.Old
print(np.var(sample1), np.var(sample2))

0.4204000000000012 0.5060999999999988

In [5]:
t_statistic, p_value = st.ttest_ind(sample1, sample2)
print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.5f}".format(t_statistic, p_value))
if p_value < 0.05:
    print('\nSince the p_value is < 0.05 we can assume that one of the machines is better than the other!')
    print('We reject the H0!')

The t statistic of our sample is: -3.40 and the corresponding p-value is: 0.00321

Since the p_value is < 0.05 we can assume that one of the machines is better than the other!
We reject the H0!

2. *Matched Pairs Test* - In this challenge we will compare dependent samples of data describing our Pokemon (file `files_for_lab/pokemon.csv`). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [6]:
pokemon = pd.read_csv('files_for_lab/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
arr1 = pokemon.Attack
arr2 = pokemon.Defense

In [8]:
stats, pvalue = st.ttest_rel(arr1, arr2)

print("The t statistic of our sample is: {:.2f} and the corresponding p-value is: {:.5f}".format(stats, pvalue))
if pvalue < 0.05:
    print('\nSince the p_value is < 0.05 we can assume that the features are different from each other!')
    print('We reject the H0!')
else: 
    print('\n Since the p_value is > 0.05 we can assume that the feature scores are the same!')
    print('We accept the H0!')

The t statistic of our sample is: 4.33 and the corresponding p-value is: 0.00002

Since the p_value is < 0.05 we can assume that the features are different from each other!
We reject the H0!

# Inferential statistics - ANOVA

Note: The following lab is divided in 2 sections which represent activities 3 and 4.

### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

In [9]:
etch = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
etch

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

#### Null Hypothesis:

##### H0: There is no difference in `Etching Rate` between the 5 groups 

#### Alternative Hypothesis: 

##### H1: There is a difference between the groups

#### Significance Level 

##### lambda is 5%

#### DoF of model

##### DF1 = The cell means relate to the grand mean. Number of Groups (k) - 1 ---> DF1 = 4

##### DF2 = how the single observations in the cells relate to the cell means. Basically the df2 is the total number of observations in all cells (n) minus the degrees of freedoms lost because the cell means are set (that is, minus the number of cell means or groups/conditions: k). Df2 = n — k --> n - 5

## Part 2

- In this section, use the Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [16]:
etch['Power '].unique()

array(['160 W', '180 W', '200 W'], dtype=object)

In [20]:
stats, pvalue = st.f_oneway(etch[etch['Power '] == '160 W']['Etching Rate'], etch[etch['Power '] == '180 W']['Etching Rate'], etch[etch['Power '] == '200 W']['Etching Rate'])

In [25]:
print("The F statistic is: {:.2f} and the corresponding p-value is: {:.5f}".format(stats, pvalue))
if pvalue < 0.05:
    print('\nSince the p_value is < 0.05 we can assume that the features are different from each other!')
    print('We reject the H0!')
    print('\nThere seems to be no significant influence of Watt on Etching Power')
else: 
    print('\n Since the p_value is > 0.05 we can assume that the feature scores are the same!')
    print('We accept the H0!')
    print('\n There seems to be no significant influence of Watt on Etching Power')

The F statistic is: 36.88 and the corresponding p-value is: 0.00001

Since the p_value is < 0.05 we can assume that the features are different from each other!
We reject the H0!

There seems to be no significant influence of Watt on Etching Power